<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>
    <a th:href="@{/cart}">Cart</a>
    <a th:href="@{/order/history}">Order History</a>
    <a th:href="@{/}">Back</a>
    <hr>

    <h1 th:text="${product.productName}"></h1>

    <img th:src="${product.imageURL}" width="250">

    <p>
        Price: €
        <span th:text="${product.productPrice}"></span>
    </p>

    <p th:text="${product.productDescription}"></p>
</body>
</html>